/* You can add global styles to this file, and also import other style files */
$main-font-family: 'Open Sans', sans-serif;
$optional-font-family: 'Dosis', sans-serif;
$main-color: black;
$gradient-color: linear-gradient(to right top, black, black, #333333, #333333, #333333);
$optional-color: #ffac00;
$optional-gradient-color: linear-gradient(to right, #ffac00, #ffac00, #ffac00, #faa01f, #f7b733);
$white-color: #ffffff;
$black-color: #333333;
$paragraph-color: #57647c;
$font-size: 14px;
$transition: .5s;
